.alertDialogUtilityPrimary {
  position: fixed;
}

.alertDialogUtilityPrimary {
  inset: 0px;
}

.alertDialogUtilityPrimary {
  z-index: 50;
}

.alertDialogUtilityPrimary {
  background-color: rgb(0 0 0 / 0.8);
}

.grid {
  position: fixed;
}

.grid {
  left: 50%;
}

.grid {
  top: 50%;
}

.grid {
  z-index: 50;
}

.grid {
  display: grid;
}

.grid {
  width: 100%;
}

.grid {
  max-width: 32rem;
}

.grid {
  --style-translate-x: -50%;
  transform: translate(var(--style-translate-x), var(--style-translate-y)) rotate(var(--style-rotate)) skewX(var(--style-skew-x)) skewY(var(--style-skew-y)) scaleX(var(--style-scale-x)) scaleY(var(--style-scale-y));
}

.grid {
  --style-translate-y: -50%;
  transform: translate(var(--style-translate-x), var(--style-translate-y)) rotate(var(--style-rotate)) skewX(var(--style-skew-x)) skewY(var(--style-skew-y)) scaleX(var(--style-scale-x)) scaleY(var(--style-scale-y));
}

.grid {
  gap: 1rem;
}

.grid {
  border-width: 1px;
}

.grid {
  background-color: hsl(var(--background));
}

.grid {
  padding: 1.5rem;
}

.grid {
  --style-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --style-shadow-colored: 0 10px 15px -3px var(--style-shadow-color), 0 4px 6px -4px var(--style-shadow-color);
  box-shadow: var(--style-ring-offset-shadow, 0 0 #0000), var(--style-ring-shadow, 0 0 #0000), var(--style-shadow);
}

.grid {
  transition-duration: 200ms;
}

.grid {
  animation-duration: 200ms;
}

@media (min-width: 640px) {
  .grid {
    border-radius: var(--radius);
  }
}

.alertDialogLayoutPrimary {
  display: flex;
}

.alertDialogLayoutPrimary {
  flex-direction: column;
}

.alertDialogLayoutPrimary > :not([hidden]) ~ :not([hidden]) {
  --style-space-y-reverse: 0;
  margin-top: calc(0.5rem * calc(1 - var(--style-space-y-reverse)));
  margin-bottom: calc(0.5rem * var(--style-space-y-reverse));
}

.alertDialogLayoutPrimary {
  alertDialogTextPrimary-align: center;
}

@media (min-width: 640px) {
  .alertDialogLayoutPrimary {
    alertDialogTextPrimary-align: left;
  }
}

.alertDialogLayoutSecondary {
  display: flex;
}

.alertDialogLayoutSecondary {
  flex-direction: column-reverse;
}

@media (min-width: 640px) {
  .alertDialogLayoutSecondary {
    flex-direction: row;
  }
}

@media (min-width: 640px) {
  .alertDialogLayoutSecondary {
    justify-content: flex-end;
  }
}

@media (min-width: 640px) {
  .alertDialogLayoutSecondary > :not([hidden]) ~ :not([hidden]) {
    --style-space-x-reverse: 0;
    margin-right: calc(0.5rem * var(--style-space-x-reverse));
    margin-left: calc(0.5rem * calc(1 - var(--style-space-x-reverse)));
  }
}

.alertDialogTextPrimary {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.alertDialogTextPrimary {
  font-weight: 600;
}

.alertDialogIconPrimary {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.alertDialogIconPrimary {
  color: hsl(var(--muted-foreground));
}

.alertDialogUtilitySecondary {
  margin-top: 0.5rem;
}

@media (min-width: 640px) {
  .alertDialogUtilitySecondary {
    margin-top: 0px;
  }
}
